extends ./layout/layout
block append head
	title h5Picker
	//build:css css/combined.css
	link(rel='stylesheet' href='css/reset.css')
	//endbuild
	link(rel='shortcut icon' href='http://img1.2345.com/zsimg/images/v2/16.ico' type="image/x-icon")
	meta(content="" name="Description")
	meta(content="" name="Keywords")
block content
	h2.exp-title: i My Basic Information
	.name name：#{dy.name}
	.age age：#{dy.age}
	.hobby hobby：#{dy.hobby}
	.school school：#{dy.school}
	.degree degree：#{dy.degree}
	.profession profession：#{dy.profession}
	.tel tel：#{dy.tel}
	.lang language：#{dy.lang}
block script
	<script src="js/fastclick.js"></script>
	<!--build:js js/picker.min.js -->
	<script src="js/gmu.js"></script>
	<script src="js/picker.js"></script>
	<!-- endbuild -->